<ion-content class="mainScreen">
    <h2> upcoming events</h2>

    <div class="list card">
        <a href="#" class="item item-icon-left">
            <i class="icon ion-home"></i>
            INTLOOP dev
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-ios7-telephone"></i>
            German lessons colleges
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-wifi"></i>
            Lunch with Paul, Steve, Dave, Michele..
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-card"></i>
            Dinner with Anna and 3 more
        </a>
    </div>

    <button  class="button button-block button-positive" ui-sref="event.friends">Create event</button>
</ion-content>
